/* Definimos la nueva fuente */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'MiFuenteCine';   /* Ponle el nombre que tú quieras usar después */
  src: url('../src/assets/fonts/Cine-title.ttf') format('truetype'); /* LA RUTA DEBE SER EXACTA */
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
background: #4a31a3;
background: linear-gradient(0deg,rgba(74, 49, 163, 0.88) 0%, rgba(71, 40, 158, 1) 42%, rgba(24, 27, 31, 1) 96%, rgba(24, 27, 31, 1) 98%);

background-size: cover;
}
/* En tu archivo index.css o App.css */

/* Títulos impactantes */
h1, h2, h3, h4,a,button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; /* Bold */
}

/* Texto general fácil de leer */
body, p, span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; /* Normal */
}

/* Suponiendo que el navbar mide unos 72px de alto */
.app-content {
  padding-top: 42px;
}

@media (max-width: 600px) {
  .app-content {
    padding-top: 80px;
  }
}


.swiper {
  margin-top: 80px;
  background: transparent;
}

.swiper-slide {
 
display: flex !important;
align-items: center;
}

.swiper-slide > div:last-child{
  width: 950px;
  margin: 0 auto;
}
.swiper-slide > div:first-child{
  position: absolute;
  left: 19%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 680px;
}
.swiper-slide img {
  border-radius: 20px;
align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

/* Ocultar las flechas originales de Swiper */
.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}

/* Ocultar también los pseudo-elementos (donde Swiper dibuja el icono azul) */
.swiper-button-next::after,
.swiper-button-prev::after {
    display: none !important;
    content: none !important;
}

/* Estilo base compartido para ambos botones */
.nav-btn {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  z-index: 50;
  
  /* ESTILO NEÓN */
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.2); /* Fondo muy sutil */
  border: 2px solid #00bfff;       /* Borde Cian Eléctrico */
  border-radius: 50%;
  color: #00bfff;                  /* El icono también azul */
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.4); /* Resplandor suave */
  
  /* Centrado */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Posición específica IZQUIERDA */
.nav-btn-prev {
  right: 30px;
}

/* Posición específica DERECHA */
.nav-btn-next {
  top: 250px;
  right: 30px;
}

/* Efecto al pasar el ratón (Hover) */
.nav-btn:hover {
  background: linear-gradient(135deg, #4615f5, #00c6ff);
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 198, 255, 0.8);
  transform: translateY(-50%) scale(1.1);
  
}

@media (max-width: 960px) {
  .swiper .swiper-nav-btns{
  display: none;
}
.swiper-slide > div:last-child{
  height: 300px;
}
.swiper-slide > div:first-child{
  left: 1rem;
}
.swiper {
  margin-top: 0;
}
}
